
name: Terraform Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'El entorno a desplegar'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - staging
          - prod

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    steps:
      # Obtener el código
      - name: Checkout code
        uses: actions/checkout@v3

      # Configurar Terraform (misma versión que tu local)
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.4

      # Configurar credenciales de AWS
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Inicializar Terraform (descarga providers y configura backend S3)
      - name: Terraform Init
        working-directory: infra/terraform
        run: terraform init -input=false

      # Crear plan
      - name: Terraform Plan
        working-directory: infra/terraform
        run: terraform plan -var-file="infra/terraform/${{ github.event.inputs.environment }}.tfvars" -out=tfplan

      # plicar plan automáticamente
      - name: Terraform Apply
        working-directory: infra/terraform
        run: terraform apply -auto-approve tfplan

